# Configuration file

####################
# beagle
####################

beagle {
    S:biomegroups <BEAGLE_DEFAULT>
    B:canSpawn=true
    I:frequency=15
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# bernesemountain
####################

bernesemountain {
    S:biomegroups <BERNESEMOUNTAIN_DEFAULT>
    B:canSpawn=true
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# chihuahua
####################

chihuahua {
    S:biomegroups <CHIHUAHUA_DEFAULT>
    B:canSpawn=true
    I:frequency=15
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=8
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# dalmatian
####################

dalmatian {
    S:biomegroups <DALMATIAN_DEFAULT>
    B:canSpawn=true
    I:frequency=15
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# frenchbulldog
####################

frenchbulldog {
    S:biomegroups <FRENCHBULLDOG_DEFAULT>
    B:canSpawn=true
    I:frequency=15
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=8
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# germanshepherd
####################

germanshepherd {
    S:biomegroups <GERMANSHEPHERD_DEFAULT>
    B:canSpawn=true
    I:frequency=15
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# goldenretriever
####################

goldenretriever {
    S:biomegroups <GOLDENRETRIEVER_DEFAULT>
    B:canSpawn=true
    I:frequency=15
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=6
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# husky
####################

husky {
    S:biomegroups <HUSKY_DEFAULT>
    B:canSpawn=true
    I:frequency=15
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=8
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


